/* sections */
section {
  /* border: 1px solid red; */
}

@media only screen and (min-width: 768px) {
  h1 span {
    border-bottom: 30px double #fff;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke: 0;
  }

  h1 span:hover {
    -webkit-text-fill-color: #fff;
  }

  h1 {
    color: #fff;
    margin: 80px 0 100px;
  }

  h1 font {
    color: #fff;
  }

  h2 {
    margin: 0;
  }

  section {
    padding: 100px 0;
  }

  /* header */
  .cred section:nth-child(1) {
    background: url('./images/title.jpg') top no-repeat;
  }

  section:nth-child(1) {
    color: #fff;
    background-color: #00b06a;
    background-size: cover;
  }

  /* Food */
  section:nth-child(2) {
    color: #00b06a;
  }

  section:nth-child(2) h2,
  section:nth-child(2) span {
    -webkit-text-stroke-color: #00b06a;
    -webkit-text-fill-color: transparent;
  }

  section:nth-child(2) li:hover span,
  section:nth-child(2) a {
    -webkit-text-fill-color: #00b06a;
  }

  /* Cafes */
  section:nth-child(3) {
    color: #80d9ff;
  }

  section:nth-child(3) h2,
  section:nth-child(3) span {
    -webkit-text-stroke-color: #80d9ff;
    -webkit-text-fill-color: transparent;
  }

  section:nth-child(3) li:hover span {
    -webkit-text-fill-color: #80d9ff;
  }

  /* Nature */
  section:nth-child(4) {
    color: #b999ff;
  }

  section:nth-child(4) h2,
  section:nth-child(4) span {
    -webkit-text-stroke-color: #b999ff;
    -webkit-text-fill-color: transparent;
  }

  section:nth-child(4) li:hover span {
    -webkit-text-fill-color: #b999ff;
  }

  /* Art */
  section:nth-child(5) {
    color: #1900ff;
  }

  section:nth-child(5) h2,
  section:nth-child(5) span {
    -webkit-text-stroke-color: #1900ff;
    -webkit-text-fill-color: transparent;
  }

  section:nth-child(5) li:hover span {
    -webkit-text-fill-color: #1900ff;
  }

  /* Stores */
  section:nth-child(6) {
    color: #ffd84a;
  }

  section:nth-child(6) h2,
  section:nth-child(6) span {
    -webkit-text-stroke-color: #ffd84a;
    -webkit-text-fill-color: transparent;
  }

  section:nth-child(6) li:hover span {
    -webkit-text-fill-color: #ffd84a;
  }
}

@font-face {
	font-family: 'Wide';
	src: url("./font/Wide.ttf") format('truetype');
}

a {
  color: #00995c;
}

h1, h2 {
  word-break: normal;
  font-family: 'Wide', serif;
}

@media only screen and (max-width: 767px) {
  h1 span {
    border-bottom: 10px double #00995c;
    -webkit-text-stroke: 0;
  }
}

h2 {
  -webkit-text-stroke: 2px #00995c;
  -webkit-text-fill-color: #00995c;
  margin-bottom: 0;
}

@media only screen and (max-width: 1050px) {
  h2 {
    -webkit-text-stroke: 1px #00995c;
  }
}

@media only screen and (max-width: 767px) {
  h2 {
    -webkit-text-fill-color: transparent;
  }
}

/* subtitles */
h2 + p {
  margin-top: 0;
  font-size: 0.5em;
}

h2 + p::before {
  content: '(';
}

h2 + p::after {
  content: ')';
}

p {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  p {
    width: 80%;
  }
}

/* colors */
@media only screen and (max-width: 767px) {
  section:nth-child(2),
  section:nth-child(2) span {
    color: #00b06a;
  }

  section:nth-child(2) h2 {
    -webkit-text-stroke-color: #00b06a;
  }

  section:nth-child(2) span {
    -webkit-text-fill-color: #00b06a;
  }

  section:nth-child(3),
  section:nth-child(3) span {
    color: #80d9ff;
  }

  section:nth-child(3) h2 {
    -webkit-text-stroke-color: #80d9ff;
  }

  section:nth-child(3) span {
    -webkit-text-fill-color: #80d9ff;
  }

  section:nth-child(4),
  section:nth-child(4) span {
    color: #b999ff;
  }

  section:nth-child(4) h2 {
    -webkit-text-stroke-color: #b999ff;
  }

  section:nth-child(4) span {
    -webkit-text-fill-color: #b999ff;
  }

  section:nth-child(5),
  section:nth-child(5) span {
    color: #1900ff;
  }

  section:nth-child(5) h2 {
    -webkit-text-stroke-color: #1900ff;
  }

  section:nth-child(5) span {
    -webkit-text-fill-color: #1900ff;
  }

  section:nth-child(6),
  section:nth-child(6) span {
    color: #ffd84a;
  }

  section:nth-child(6) h2 {
    -webkit-text-stroke-color: #ffd84a;
  }

  section:nth-child(6) span {
    -webkit-text-fill-color: #ffd84a;
  }
}

/* legend */
footer {
  margin-top: 150px;
}

/* utilities */
.plus::before,
.plus::after {
  content: '+';
  padding: 3px;
}

.ad {
  max-width: none;
  font-size: 0.25em;
}

@media only screen and (max-width: 767px) {
  .ad {
    font-size: 0.6em;
  }
}
