@font-face {
	font-family: 'Text';
	src: url("./font/Text.otf") format('truetype');
}

@font-face {
	font-family: 'Main';
	src: url("./font/Main.ttf") format('truetype');
}

body {
  margin: 0 0 100px;
  color: #00995c;
  font-family: 'Text', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-size: 5em;
}

@media only screen and (max-width: 1050px) {
  body {
    font-size: 3.5em;
  }
}

@media only screen and (max-width: 767px) {
  body {
    padding: 10px;
    font-size: 1.8em;
  }
}
